.wrapper {
  .table {
    .actionColName {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    :global(.ant-table-pagination) {
      padding: 0 10px;
    }
  }
}
